<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
      .flex-parent {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
       
      }

      

  </style>
</head>
<body>
  <form action="/auth/google" method="GET" class="flex-parent">
    <input type="submit"  value="Login with Google" style="text-align: center ;" >

  </form>
</body>
</html>
